[Unit]
Description=Jailed Shell server
After=network.target 

[Service]
PIDFile=/var/run/jailed-cmdd.pid
EnvironmentFile=-/etc/default/jailed-shell
ExecStart=/usr/sbin/jailed-cmdd $JAILED_SHELL_OPTS
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=jailed-shell.service
